body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #f3f5f7;
}
header{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	/* background: pink; */
	padding-top: 30px;
}
.logo{
	width: 195px;
	height: 42px;
	margin-top: -30px;
	float: left;
}

.logo img{
	display: block;
	height: 100px;
	width: 195px;
}
nav{
	float: left;
	margin-left: 20px;
}
nav li{
	float: left;
	height: 40px;
	line-height: 40px;
	margin-left: 20px;
}
nav li a{
	display: block;
	height: 40px;
	font-size: 20px;
	padding: 0 10px;
}
nav li a:hover{
	border-bottom:2px solid red;
}
.search{
	width: 360px;
	height: 40px;
	background-color: purple;
	margin: 0 auto;
}
.search input{
	width:310px;
	height: 40px;
	float: left;
	border: 1px solid blue;
	outline: none;
	padding-left: 10px;
}
.search button{
	float: left;
	width: 49px;
	height: 40px;
	border: 0;
	outline: none;
	background-image: url(../images/fa-search.png);
}
.personal{
	float: right;
	height: 40px;
	line-height: 40px;
}
.personal dt,.personal dd{
	float: left;
}
.personal s{
	position: relative;
	padding: 0 20px;
	text-decoration: none;
}
.personal s::before{
	content: "";
	display: block;
	width: 6px;
	height: 6px;
	background-color: red;
	border-radius:50%;
	position: absolute;
	right: 15px;
	top: 0;
}
.personal span img{
	border-radius: 50%;
	margin-right: 10px;
	transition: all 0.8s;
}
.personal span img:hover{
	transform: rotate(360deg);
}
.banner{
	height: 420px;
}
.inner{
	height: 420px;
	width: 100%;
	position: absolute;
	text-align: center;
}
.inner .Img{
	margin: 0 auto;
	height: 420px;
	width: 80%;
}
.subnav{
	position: absolute;
	float: left;
	top: 0;
	height: 100%;
	width: 180px;
	background: rgba(0,0,0,.3);
	padding-top: 20px;
}
.subnav li{
	padding-left: 50px;
	position: relative;
	height: 40px;
	line-height: 40px;
}
.subnav a{
	font-size: 14px;
	color: #FFFFFF;
	display: block;
}
.subnav a:hover{
	color: #00b4ff;
}
.subnav span{
	position: absolute;
	right:20px ;
}
.circle{
	width: 176px;
	height: 20px;
	position: absolute;
	left: 46%;
	transform: translate(-50%);
	bottom: 15px;
}
.circle i{
	display: inline-block;
	width: 13px;
	height: 13px;
	background: rgba(255,255,255,0.4);
	margin: 0 5px;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.4s;
}
.circle i:hover{
	width: 20px;
	background-color: #FFFFFF;
	position: relative;
}

.table{
	width: 100%;
	margin: 0 auto;
}

.tab-contain{
    margin: 50px auto;
    width: 1000px;
    padding:100px;
    background: #7F7D7D;
}
#tabs {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
#tabs li {
    float: left;
    margin: 0;
}
li a {
    position: relative;
    background: #ddd;
    padding: 10px 50px;
    float: left;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
    border-radius: 20px 20px 0 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
}

 .current a{
    outline: 0;
    background: #fff;
     z-index: 4;
}
.hoverItem a{
    background: #AAC8B9;
}
#content {
    background: #fff;
    padding: 50px;
    height: 600px;
    position: relative;
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
}
.item{
    display: none;
}

.show{
    display: block;
}
table th,td{
	text-align: center;
}
.input-group{
	margin-top: 10px;
	margin-left: 150px;
	width: 50%;
}
#addCustomer,#addOrder{
	float: right;
	margin-top: -40px;
}